/* estilo.css */
body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ffffff;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

button {
    font-family: sans-serif;
    color: #000000; /* Cor da letra */
    font-size: 18px;
    text-align: center; /* Centraliza o texto dentro do botão */
    display: block; /* Faz o botão ser exibido como bloco */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}
